.file-list {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange children in a column */
    gap: 4px; /* Optional: space between buttons */
    width: 300px
  }

.nav-tools {
    display:flex;
    flex-direction: row;
    gap:4px;
}