html, body {
  margin: 0;
  height: 100%;
}

.file-explorer-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 12px);
  border: 1px solid #ccc;
  width: 300px;
  padding-left: 4px;
  padding-right: 4px;
}

.nav-tools-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap:4px;
  padding: 4px;
}

.back-button {
  border-radius: 4px;
  padding: 4px 8px; 
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
}

.back-button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.back-button:hover {
  background-color: #e0e0e0;
}

.advanced-mode {
  display: flex;
  align-items: center;
}

.current-directory-container {
  padding-left: 4px;
  background-color: #ccc;
}

.current-directory {
  word-wrap: break-word; /* Old method */
  overflow-wrap: break-word; /* Modern method */
  white-space: normal; /* Allow text to wrap normally */
}

.file-list-container {
  flex: 1;
  overflow-y:scroll;
  padding-right: 4px;
}

.file-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.directory-form-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.collapse-button {
  margin-left: auto;
}